<html>  
<head>  
<title>Add Friends</title>  
</head>  
<body> 
<p>Welcome: {{name}}</p>
<br>
<br>
<p>Your top suggestions are:</p>
{%for i in range(0,le)%}
	<br>
	<br>
	<p> {{pred[i]}}</p>
	<form action="/connect" method="POST", enctype="multipart/form-data"><input type="hidden" name="usr_name" ,id="usr_name" value="{{name}}">
	<input type="hidden" name="con_name", id='con_name',value="{{pred[i]}}">
	<button type="submit">Connect</button>

{%endfor%}
<p>Search Your Freinds</p>
</body>
<form action="/search" method="POST", enctype="multipart/form-data"><input type="hidden" name="usr_name" ,id="usr_name" value="{{name}}">
<label>Search</label>
<input type="text" name="search", id='search',placeholder="Enter the search user id">
<button type="submit">Search</button>

<p>Go back</p>

<form action="/back" method="POST", enctype="multipart/form-data"><input type="hidden" name="usr_name" ,id="usr_name" value="{{name}}">
<button type="submit">Go Back</button>
</form> 
</body>
</html>  

</html>  