<html>  
<head>  
<title>Sign up</title>  
</head>  
<body>  
<p>Signup form</p>  
</body> 
<form action="/signup_details" method="POST", enctype="multipart/form-data">

        
         <label>Email</label>
         <input type="text" id="Email" name="Email" placeholder=" Your email">
         <br>
         <label>Password</label>
         <input type="text" id="Passwd" name="Passwd" placeholder="Password">
         <br>
         <label>Confirm Password</label>
         <input type="text" id="Con_Passwd" name="Con_Passwd" placeholder="Confirm Password">
         <br>
         <button type="submit">Submit</button>

      </form> 
</html>  
