<html>  
<head>  
<title>Search Results</title>  
</head>  
<body>  
<p>Search Results Obtained</p> 
<p>Welcome: {{nam}}</p> 
<br>
<br>
<p>Results</p>
<br>
<p>Name: {{na}}</p>
<p>Address: {{ad}}</p>
<p>Education: {{ed}}</p>
<form action="/connect" method="POST", enctype="multipart/form-data"><input type="hidden" name="usr_name" ,id="usr_name" value="{{name}}">
<input type="hidden" name="con_name", id="con_name",value="{{sr}}">
<button type="submit">Connect</button>


</form> 

<p>Go back</p>

<form action="/back" method="POST", enctype="multipart/form-data"><input type="hidden" name="usr_name" ,id="usr_name" value="{{name}}">
<button type="submit">Go Back</button>
</form> 

</body>
</html>  
